{% extends 'proveedores.html' %}
{% block titulo %}Crear Repuesto{% endblock titulo %}


{% block cuerpo %}

<div class="tamaño">
        {% for repuesto in repuestos %}
        <div class="Tarejta">
                <div >
                        
                        {% if repuesto.Imagen %}
                        <img src="{{repuesto.Imagen.url}} " width="230" height="160" >
                        {% endif %}
                        <br>
                        {{ repuesto.Nombre_repuesto }} <br>
                        ${{repuesto.Precio}} <br>
                        {{ repuesto.Marca }} <br>
                        {{ repuesto.Vehiculo}} <br>
                        {{repuesto.Proveedor}} <a href="{% url 'editar_repuesto' repuesto.id %}">  <img src="https://img.icons8.com/external-becris-lineal-becris/64/000000/external-edit-mintab-for-ios-becris-lineal-becris.png" align="right" width="35" height="35"/></a> 
                        <a href="{% url 'eliminar_repuesto' repuesto.id %}">  <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-delete-miscellaneous-kiranshastry-solid-kiranshastry.png" align="right" width="35" height="35"/></a>
               <br>
                        
                        
                        
                        
                   </div>
        </div>
        {%endfor%}
</div>

{% endblock cuerpo %}